name: Kotlin CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.14'

      - name: Make Gradle Wrapper Executable
        run: chmod +x ./gradlew

      - name: Setup .env
        run: echo "BRAVE_API_KEY=dummy\nOPENAI_API_KEY=dummy" > .env

      - name: Run Tests
        run: ./gradlew test
